# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Test and coverage reports
.pytest_cache/
.coverage*
htmlcov/

# IDE
.idea/
.vscode/
